nav#info
  if location
    #location: +icon('location')
      span= location
  if phone
    #phone: +icon('phone')
      a(href=`tel:${phone}`)= phone
  if email
    #email: +icon('mail')
      a(href=`mailto:${email}`)= email
  if homepage
    #homepage: +icon('globe')
      a(href=homepage)= RegExp('^(?:https?://)?(.*)').exec(homepage)[1]
  if github
    #github: +icon('github')
      a(href=`https://github.com/${github}`)= github
  if linkedin
    #linkedin: +icon('linkedin-circled')
      a(href=`https://www.linkedin.com/in/${linkedin}`)= linkedin
  if facebook
    #facebook: +icon('facebook-squared')
      a(href=`https://facebook.com/${facebook}`)= facebook
  if twitter
    #twitter: +icon('twitter')
      a(href=`https://twitter.com/${twitter}`)= '@' + twitter

if skills
  section#skills
    h3: +icon('tools')= skills.title
    ul
      each skill in skills.list
        li.skill: +icon('check')= skill

if passions
  section#passions
    h3: +icon('heart')= passions.title
    ul
      each passion in passions.list
        li.passion: +icon('check')= passion

if languages
  section#languages
    h3: +icon('language')= languages.title
    ul
      each lang in languages.list
        li.lang
          +icon('check')= lang.name
          ol.lang-details
            each detail in lang.details
              li: +icon('right-open')= detail
